@model FCIH_OJ.Models.AdminUserProfile

@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

<fieldset>
    <legend>User Details</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>
    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Roles)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Roles)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "EditUser", new { id=Model.UserId }) |
    @Html.ActionLink("Back to List", "ManageUsers")
</p>
