@model FCIH_OJ.Models.contestAndProblem.problemWithTestcases

@{
    ViewBag.Title = "create";
}
<script src="~/Assets/js/jquery-3.1.1.js"></script>
<h2>create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @ViewBag.contestId
    
    <fieldset>
        <legend>problemWithTestcases</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.problem.name);
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.problem.name)
            @Html.ValidationMessageFor(model => model.problem.name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.problem.problemDifficultyId, "ProblemDifficulty")
        </div>
        <div class="editor-field">
   
            @Html.DropDownListFor(Model => Model.problem.problemDifficultyId, (SelectList)ViewBag.problemDifficultyId)
            @Html.ValidationMessageFor(model => model.problem.problemDifficultyId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.problem.problemTypeId, "ProblemType")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(Model=>Model.problem.problemTypeId ,(SelectList)ViewBag.problemTypeId)
            @Html.ValidationMessageFor(model => model.problem.problemTypeId)
        </div>
        <div>
            <input type="number" name="numOfTestCases" id="numOfTest"/> <button type="button" id="addTestcases"> Add Testcases </button>
        </div>
        
       

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}
<script>
    $("#addTestcases").click(function () {
        numOfTest = $("#numOfTest");
        
        numOfTest.val();
    });
</script>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>